@charset "utf-8";
/* CSS Document */

body{
	Font-family: Calibri, Verdana, Ariel, sans-serif;

}
/*Håller i flera delar utav koden */
img, video {
    max-width:100%;
}


/*----------------------------------*/

#lorem{
	height:900px;
	width:auto;max-width:100%;
	
	
}
#bg {
	width: 100%;
	position: fixed;
	z-index: -100;
	left: 0px;
	top: 0px;max-width:100%;
}
#header {
	height: 100px;
	width: 100%;
	text-align:center;
	background-color: #207BCC;	
	border: 1px solid;
	border-radius: 25px; 
	margin-bottom:10px;max-width:100%;
}
/*#mellan{
    height:900px;
    width:100px;
    background:green;
}*/
#container {
	height: 960px;
    width:1200px;
    margin:auto;max-width:100%;

}
/* http://designshack.net/articles/css/inner-shadows-in-css-images-text-and-beyond/ */
#content {
	height:600px;
	width:auto;max-width:100%;
    
}
#lankar{
    height:1200px;
    text-align:center;
    float:right;
    background-color: #cc7813;
    border: 1px solid;
	border-radius: 25px; 
	padding:50px;max-width:100%;
}
#navigation {
	height:1200px;
	width:200px;
	float:left;
    border: 1px solid;
	border-radius: 25px;
	margin-right:10px;
	text-align:center;max-width:100%;
    cursor:url(../pics/hammare-gro.png),  crosshair;
}

#navigation2{
	height:500px;
	width:200px;max-width:100%;
	
}
#footer {
	height:50px;
	width:100%;  max-width:100%;
}

.meny {
    padding: 15px 20px;
  list-style-type: none;
  list-style:none;max-width:100%;
}
/* Sätter färg på bakgrunden till knappen samt border  */
.meny li {
  float: left;
  border: 1px solid #333;
  background: #4479BA;
  color: #FFF;
  background-image:url(../pics/brev-gro.png);
  background-repeat:no-repeat;
  background-position:right;max-width:100%;
}
/*Plockar bort bl.a underline på länkarna samt ge en schysst delay vid hover */
.meny li a {
  display: block;
  text-decoration: none;
  padding: 10px 30px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s; max-width:100%;

}
/* Ser till att rutan som man rör med musen lyser upp */
.meny li a:hover, meny li:focus{
    background: #356094;
    border: solid 1px #2A4E77;
    cursor:url(../pics/hammare.png),  crosshair;
      background-image:url(../pics/brev.png);
  background-repeat:no-repeat;
  background-position:right;max-width:100%;
}

#active a{
display: block;
background-color: #445cba;max-width:100%;
}

a:link    {color:black;}
a:visited {color:#000;}
a:hover   {color:black;}
a:active  {color:yellow;}

table{
font-size:20px;
background-image:url('../pics/123.jpg');max-width:100%;
}
.link {
    padding: 10px 15px;max-width:100%;
}
.link li{
    display:block;
    font-size:15px;
    padding-top:10px;max-width:100%;
}

.link li a:hover{
    text-decoration:none;max-width:100%;
}
.miniatyr{
	float:left;
	margin-right:5px;max-width:100%;
}
.miniatyrright{
	float:right;
	margin-left:5px;max-width:100%;
	
}
.stil {
	width:400px;
	margin-left:60px;
	border-bottom-style:groove;
	border-color:#CCC;
	margin-top:20px;max-width:100%;
}
.stil2 {
	width:400px;
	margin-left:70px;
	border-bottom-style:groove;
	border-color:#CCC;
	margin-top:13px;max-width:100%;
}
table,th,td{
	padding:1px;
	border: 1px solid #009;
	border-style:groove;
	background-color:#CCC;max-width:100%;
}
.form{
    width:300px;
    display:inline-block;
	margin-left:70px;
	border-radius:30px;
	border:2px solid;
	border-color:#03F;max-width:100%;
}
#uppgift{
    height:900px;
    width:756px;
    margin-left:205px;max-width:100%;
}
#uppgift label{
    width:140px;
    float:left;
    display:block;
    padding-right:10px;max-width:100%;
}
