@charset "utf-8";
/* CSS Document */

body{
	   background-image:url("../pics/background.jpg");
	background-image:
	background-repeat:no-repeat;
	Font-family: Calibri, Verdana, Ariel, sans-serif;

}
#header {
	height:300px;
	width: 1200px;
	margin:auto;
	text-align:center;
	
}
@charset "utf-8";
/* CSS Document */
#BG {
	width: 100%;
	position: fixed;
	z-index: -100;
	left: 0px;
	top: 0px;
}
#header {
	height: 100px;
	width: 100%;
	text-align:center;
	background-color: #207BCC;	
	border: 1px solid;
	border-radius: 25px; 
	margin-bottom:10px;
}
#lankar{
    height:1200px;
    width 500px;
    text-align:center;
    float:right;
    background-color: #cc7813;
    border: 1px solid;
	border-radius: 25px; 
	padding:50px;
}
/*#mellan{
    height:900px;
    width:100px;
    background:green;
}*/
#container {
	height: 960px;
    width:1200px;
    margin:auto;

}
/* http://designshack.net/articles/css/inner-shadows-in-css-images-text-and-beyond/ */
#content {
	height:600px;
	width:auto;
    
}
#navigation {
	height:1200px;
	width:200px;
	margin:auto;
	float:left;
    border: 1px solid;
	border-radius: 25px;
	margin-right:10px;
	text-align:center;
	margin:auto;
	margin-right:5px;
}
#navigation2{
	height:500px;
	width:100px;
}
#footer {
	height:50px;
	width:100%;  
}


.meny {
	padding: 15px 20px;
  list-style-type: none;
  list-style:none;
  
}
/* Sätter färg på bakgrunden till knappen samt border  */
.meny li {
  float: left;
  border: 1px solid #333;
  background: #4479BA;
  color: #FFF;
  
}
/*Plockar bort bl.a underline på länkarna samt ge en schysst delay vid hover */
.meny li a {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s; 
  
}
/* Ser till att rutan som man rör med musen lyser upp */
.meny li a:hover, meny li:focus{
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

#active a{
display: block;
background-color: #445cba;
}

a:link    {color:black;}
a:visited {color:#000;}
a:hover   {color:black;}
a:active  {color:yellow;}

table{
font-size:20px;
background-image:url('../pics/123.jpg');
}
.link {
    padding: 10px 15px;
}
.link li{
    display:block;
    font-size:15px;

}

.link li a{
    text-decoration:none;
}
.miniatyr{
	float:left;
	margin-right:5px;
}
.stil {
	width:400px;
	margin-left:270px;
	border-bottom-style:groove;
	border-color:#CCC;
	margin-top:20px;
	
}