@charset "utf-8";


#container{
    margin:0;
    width:480px;
    max-width:100%;
    float:none;
}
#uppgift{
float:none;
    width:470px;
    margin:100px 10px;
}
#header{
    float:none;
        width:450px;
    max-width: 200%; 

}

#navigation{
    float:none;
    height:auto;
    width:170px;
    max-width:100%;
        cursor:auto;
}    
#navigation2{
    height:200px;
	width:300px;
	max-width:100%;
}
#lankar{
    float:none;
    height:auto;
    max-width:100%;
    width:170px;
    padding:0;
    text-decoration:none;
    
}
#lankar li{
    padding:5px;
}


.meny {
        padding: 14px 20px;
  list-style-type: none;
  list-style:none;
}
.meny li a:hover, meny li:focus{
    cursor:auto;
}
.stil2 {
	margin-left:60px;
}
#lorem li img{
    display:none;
}





