@charset "utf-8";
@media only screen and (max-width:481px){

#container{
    margin:0;
    width:480px;
    max-width:100%;
}
#uppgift{
    float:left;
    width:470px;
    margin:100px 10px;
    
    
}
#header{
        width:450px;
    max-width: 200%; 

}

#navigation{
    height:auto;
    width:170px;
    max-width:100%;
        cursor:auto;
}    
#navigation2{
    height:200px;
	width:300px;
	max-width:100%;
}
#lankar{
    float:right;
    height:auto;
    max-width:100%;
    width:170px;
    padding:0;
    text-decoration:none;
    position:absolute;
    margin-left:270px;
    
}
#lankar li{
    padding:5px;
}


.meny {
        padding: 14px 20px;
  list-style-type: none;
  list-style:none;
}
.meny li a:hover, meny li:focus{
    cursor:auto;
}
.stil2 {
	margin-left:60px;
}
#lorem li img{
    display:none;
}

}

http://webdesign.tutsplus.com/tutorials/site-elements/quick-tip-custom-ios-home-screen-icons-for-your-website/




