#header{
    height:300px;
    width:100%;
    margin-left:50%;
    margin-right:50%;
}
#textruta{
    height:100px;
    width:100%;
    float:left;
}
#textruta2{
    height:100px;
    width:100%;
    float:left;
}
.bilderborder{     /* För att ta bort länk färger */
    
    
}
.h1{
    font-family:arial,verdana,sans-serif;
    font-size:25px;
}